.footer {
  background-color: #fdfce4;
  color: #148496;
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
}
