.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #93bfcf;
  color: #eee9da;
}

.navbar-div {
  margin: 15px;
  width: 100%;
}

.navbar-div div {
  display: contents;
  padding: auto;
}

.navbar-logo {
  font-size: 3.5em;
  text-decoration: none;
  color: #eee9da;
}

.navbar-logo:hover {
  color: #ffffff;
}
.navbar-links {
  list-style: none;
  display: flex;
  float: inline-end;
  gap: 1.5rem;
  margin: 20px 0;
  padding: 0;
}

.navbar-links a {
  font-size: 2em;
  text-decoration: none;
  color: #eee9da;
}

.navbar-links a:hover {
  color: #fff;
}

img {
  width: 100px;
}
